<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="'layout/LayoutPadrao'">
<head>
	<title>Cadastro de cidade</title>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}" />
</head>
<body>
	<section class="aw-layout-content  js-content"
		layout:fragment="conteudo">


		<div class="page-header">
			<div class="container-fluid">
				<h1>Cadastro de cidade</h1>
			</div>
		</div>

		<div class="container-fluid">

			<form method="POST"
				class="form-vertical  js-form-loading">
				
				<div class="row">
					<div class="form-group col-sm-4">
						<label for="estado">Estado</label> 
							<select id="estilo" class="form-control">
								<option value="">Selecione o estado</option>
								<option value="1">RJ</option>
							</select>
					</div>
				<div class="form-group col-sm-8">
					<label for="nome">Nome</label>
					<input id="nome" type="text" class="form-control">
					</div>
				</div>

				<div class="form-group">
					<button class="btn  btn-primary" type="submit">Salvar</button>
				</div>
			</form>
		</div>
		
		<div th:replace="estilo/CadastroRapidoEstilo :: modal"></div>

	</section>

</body>

</html>